{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% block page_content_navbar %}
        {% include 'layout/navbar/navbar.html.twig' %}
    {% endblock %}

    <div class="container">
        <h1>DASHBOARD</h1>
    </div>
{% endblock %}
