{% extends 'base.html.twig' %}

{% block title %}Survey{% endblock %}

{% block body %}

    {% block page_content_navbar %}
        {% include 'layout/navbar/navbar.html.twig' %}
    {% endblock %}


    <div class="container">
      dsadsadsadasdas
    </div>
{% endblock %}
